#l1
{
position:absolute;
left:10px;
top:80px;
}

#message
{
position:absolute;
left:90px;
top:80px;
}

#l2
{
position:absolute;
left:10px;
top:125px;
}

#message1
{
position:absolute;
left:90px;
top:125px;
}


#l3
{
position:absolute;
left:10px;
top:170px;
}

#message2
{
position:absolute;
left:90px;
top:170px;
}

#l4
{
position:absolute;
left:10px;
top:220px;
}


#message3
{
position:absolute;
left:90px;
top:220px;
}

#b1
{
position:absolute;
left:15px;
top:290px;
}

#table1
{
position:absolute;
left:370px;
top:70px;
}

#l5
{
position:absolute;
left:10px;
top:420px;
}

#message4
{
position:absolute;
left:120px;
top:420px;
}

#l6
{
position:absolute;
left:10px;
top:465px;
}

#message5
{
position:absolute;
left:120px;
top:465px;
}

#l7
{
position:absolute;
left:10px;
top:511px;
}

#message6
{
position:absolute;
left:120px;
top:511px;
}

#table2
{
position:absolute;
left:370px;
top:420px;
}

#b11
{
position:absolute;
left:15px;
top:570px;
}
